.header {
    position: relative;
}

.bgHeader {
    min-width: 100%;
}

#logoDevJobs {
    display: block;
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
}

.rectangle {
    width: 3rem; 
    height: 1.5rem;
    background-color: white;
    border-radius: .75rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.toggleCircle {
    border: none;
    border-radius: 50%;
    background-color: #5964E0;
    width: .875rem;
    height: .875rem;
    margin-left: 7px;
}

.left {
    margin-left: 7px;
    transition: 0.2s;
}

.right {
    margin-left: 28px;
    transition: 0.2s;
}


.heaederToggleFlexxer {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 85%;
    transform: translate(-50%, -50%);
    width: 100px;
    justify-content: space-between;
}

